# Ignore environment variable files
TwitterInfo.env

*.env

secret.txt

# Ignore compiled Python files
*.pyc

# Ignore directories
__pycache__/
logs/

# Ignore sensitive credentials
config/secrets.json